.animesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem; 
    background-color: #1f1f1f;
    padding: 2rem;
}
.loading {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    color: #555;
}
.animeCard {
    background-color: rgba(0, 10, 10, 0.7);
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    text-align: center;
    img{
        
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }
}
.animeCard:hover {
    .animeTitle{
        color: red;
        font-weight: bold;
    }
    transform: scale(1.05);
    transition: transform 0.3s ease;
}